/* DEFAULTS */
/* $Header: /cvsroot/bitweaver/_bit_themes/css/default.css,v 1.4 2009/11/09 15:51:10 wjames5 Exp $ */
/* site structure */
/* styles for anchoring footer to browser window */
html                { height:100%; }
body                { height:100%; margin:0; padding:0;}
#outerwrapper       { min-height:100%; position:relative; }
#container:after    { content: ".";  display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
/**
 * css only footer window-bottom anchoring rules
 * #container.margin-bottom and #footer.margin-top must be sum of:
 * #footer.height + #footer.padding-top + #footer.padding-bottom
 * */
#container          { margin-bottom:120px;}

/* modules */



/* stuff that was in base.css that the basic, clean, lessneat, & blueprint styles need - for now */
.navbar ul          {padding:0; margin:0; list-style:none;}
.navbar ul li       {float:left;}
.icon,.icon:hover,
a.icon,a.icon:hover {border:0px;}

/* pagination */


/* IE hacks */
#header     {z-index:5000} /* For IE6; Required to get top menu overlapping all body elements. Relatively harmless for other browsers, YMMV */


/* BUTTONS */
a.button, input.button, span.button,.button .button-over {
    color:#fff;
    cursor:pointer;
    font-weight:bold;
    display:inline-block;
    padding:8px 10px 7px;
    margin-right:5px;
    text-transform:uppercase;
    font-family: Helvetica;
    letter-spacing:1px;
    font-size:11px;
    line-height:12px;
    position:relative;
    border:0;
    text-shadow:0 1px 0 rgba(0,0,0,.3);
    border-radius:         5px;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    -o-border-radius:      5px;
    -khtml-border-radius:  5px;
    background: #b0b0b0; /* old browsers */
    background: -moz-linear-gradient(top, #b0b0b0 0%, #999999 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0b0b0), color-stop(100%,#999999)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#999999',GradientType=0 ); /* ie */
}

a.mini, input.mini, span.mini {
    padding:5px;
    font-size:9px;
    letter-spacing:normal;
}

.button .icon {
    vertical-align:middle; margin:-5px 5px 0 0;
}

a.mini .icon, input.mini .icon{
    margin: -2px 2px 0 0
}

a.button:hover, input.button:hover, span.button:hover, .button:hover .button-over:hover{}

.button .button-over {opacity:0; filter:alpha(opacity=0); position:absolute; z-index:10; cursor:pointer; top:0; left:0; }

/* SPINNER */

div#spinner { border:3px solid #ccc; background:#fff; font-weight:bold; color:#900; }
#spinner_overlay {background-color:rgba(6,6,6,0.3);

